<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "site.css" %>
    <%= javascript_include_tag "app.js" %>
    <%= yield_content :head %>
    <meta name="viewport" content="width=640px">
  </head>

  <body>
    <div id="showcase" style="-webkit-transform: rotateX(0deg) rotateY(0deg)">
			<div class="panel"></div>
    </div>
		<ol>
			<li>visit here using your iPhone(or Android 3+, not supported).</li>
			<li>tilt your device.</li>
			<li>fix your face.</li>
		</ul>
		<p>feel free to <strong>fork</strong>. thanks.<br>
		Miku is here.<a href="http://commons.nicovideo.jp/material/nc44150">http://commons.nicovideo.jp/material/nc44150</a></p>
  </body>
</html>
